// # footer
// ========== ========== ========== ========== ==========
.c-footer {
	color: $secondary-color-darker;
	border-top: 1px solid $boder-line-gray;
	padding-top: 30px;
	.container {
		@include media-sp {
			margin-left: -2vw;
			margin-right: -2vw;
		}
	}

	ul {
		li {
			list-style: none;
		}
	}

	&__body {
		@include flexible-width-body;

		margin: 0 auto;
	}

	&__top {
		padding-bottom: 100px;

		@include media-sp {
			padding:0;
		}

		a {
			color: $gray-color04;
			text-decoration: none;
			@include media-sp{
				display: block
			}
		}

		h3 {
			@include fontSize(15px);
			font-weight: 500;
			position: relative;
			@include media-sp{
				font-size: vw(28px);
				font-weight: bold;
				border-top: 1px solid $boder-line-gray;
				border-bottom: 1px solid $boder-line-gray;
				margin: 0;
				padding: vw(30px) vw(40px);
				line-height: 1.25;
			}
			> .list-right--icon:before{
				@include media-sp{
					right: 0;
				}
			}
			&.item-none{
				@include media-sp{
					border: 0;
					border-top: 1px solid $boder-line-gray;
				}
			}
			.plus-icon{
				@include media-pc{
					display: none;
				}
			}
		}

		.icon-legs-black {
			padding-left: 25px;
			@include media-sp{
				padding-left: vw(80px);
			}

			&::before {
				@extend %absolute;
				width: 14px;
				height: 16px;
				background: url('../img/icon-legs-black.png') no-repeat;
				background-size: 100% 100%;
				left: 0;
				top: 4px;
				@include media-sp{
					width: vw(23px);
					height: vw(25px);
					background-size: 100% 100%;
					top: 0;
					bottom: 0;
					margin: auto;
					left: vw(40px);
				}

			}
		}

		&-item {
			>ul {
				padding-left: 25px;
				@include media-sp{
					padding-left: vw(40px);
					padding-right: vw(40px);
					margin-top: 0;
					margin-bottom: 0;
				}
				li {
					@include media-sp{
						padding: vw(30px) vw(40px);
						border-bottom: 1px solid $boder-line-gray;
					}
					&:last-child{
						@include media-sp{
							border-bottom: 0;
						}
					}
					>a {
						@include fontSize(14px);
						@include media-sp{
							font-size: vw(26px);
							line-height: 1.25;
						}
						&.list-right--icon:before{
							@include media-sp{
								right: vw(10px);
							}
							@include media-pc{
								display: none;
							}
						}
					}
				}
			}
		}

		&-body {
			max-width: 960px;
			margin: auto;
			.c-20{
				@include media-sp{
					margin: 0;
				}
			}
			.p-20{
				@include media-sp{
					padding: 0;
				}
			}
		}
	}

	&__bottom {
		&-listinfo {
			background-color: #f8f8f8;
			padding: 11px 0;

			@include media-sp {
				padding-top: 0;
			}

			&-row {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				justify-content: space-between;

				@include media-sp {
					justify-content: center;
				}

				>* {
					@include media-sp {
						width: 100%;
						text-align: center;
					}
				}
			}

			&-col {
				&:nth-child(1) {
					@include media-sp {
						order: 2;
					}
				}

				&:nth-child(2) {
					@include media-sp {
						order: 1;
					}
				}

				&:nth-child(3) {
					@include media-sp {
						order: 3;
					}
				}

				ul {
					display: flex;
					flex-wrap: wrap;
				}

				a {
					text-decoration: none;
					@include fontSize(14px);
					color: $list-nav-color;
					line-height: 1.4;
					font-weight: 500;

					@include media-sp {
						display: block;
						font-size: vw(26px);
					}
				}

				.list-right--icon:before {
					@include media-sp {
						right: 0;
					}
				}
			}


		}

		&-logo {
			@include media-sp {
				margin-bottom: vw(10px);
			}

			img {
				max-width: 239px;
				margin: auto;

				@include media-sp {
					max-width: vw(341px);
				}
			}
		}
	}

	&__links {
		ul {
			display: flex;
			justify-content: center;
			margin: 0 0 20px;
			padding: 0;
		}

		li {
			display: block;
			margin: 0 1em;
			padding: 0;
		}

		a {
			color: $lightest-color;
			display: block;
			text-decoration: none;
			padding: 15px;
		}
	}

	&__copyright {
		background-color: $secondary-color-darker;
		display: block;
		text-align: center;
		@include fontSize(13px);
		line-height: 2.32;
		padding: 10px 0;
		color: #ffffff;

		@include media-sp {
			font-size: vw(22px);
			padding: vw(20px) 0;
		}
	}

	.list {
		&-link {
			@include media-sp {
				padding-left: 0;
				display: block;
				text-align: left;
				margin-bottom: vw(50px);
				margin-top: 0;
			}

			>li {
				padding: 0 22px;

				@include media-sp {
					padding: vw(30px) vw(40px);
					border-top: 1px solid $boder-line-gray;
				}

				&:first-child {
					@include media-pc {
						padding-left: 0;
					}
				}

				&:last-child {
					@include media-pc {
						padding-right: 0;
					}

					@include media-sp {
						border-bottom: 1px solid $boder-line-gray;
					}
				}
			}
		}

		&-sns {
			@include media-sp {
				padding-left: 0;
				justify-content: center;
			}

			li {
				padding: 0 10px;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}
}
